<configuration>
	<system.webServer>
		<!-- Configure the aspNetCore module to handle requests -->
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>

		<!-- Specify the ASP.NET Core hosting details -->
		<aspNetCore processPath="dotnet" arguments=".\YourAppName.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
	</system.webServer>
</configuration>
